<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>V.2学习目录</title>
		<script src="js/v2.6.10/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<style>
		a{
			text-decoration: none;
			color: black;
			line-height: 35px;
			font-size: 20px;
		}
		li{
			list-style: none;
		}
		a:hover{
			background-color: cadetblue;
			width: 250px;
		}
		</style>
	</head>
	<body>
		<div id="app">
			<h1>Vue2基础目录</h1>
			<h2>基础命令</h2>
			<ul>
				<li v-for="(item,index) in baseUrlList">
					<a :href='item.url'>
						{{item.title}}
					</a>
				</li>
			</ul>
			<h2>全局API</h2>
			<ul>
				<li v-for="(item,index) in APIUrlList">
					<a :href='item.url'>
						{{item.title}}
					</a>
				</li>
			</ul>
			<h2>构造器里的选项</h2>
			<ul>
				<li v-for="(item,index) in PropsUrlList">
					<a :href='item.url'>
						{{item.title}}
					</a>
				</li>
			</ul>
			<h2>Vue实例和内部组件</h2>
			<ul>
				<li v-for="(item,index) in InstanceUrlList">
					<a :href='item.url'>
						{{item.title}}
					</a>
				</li>
			</ul>
		</div>
		
		<script>
			const app=new Vue({
			    el:'#app',
				data: {
						baseUrlList:[
							{
								url:'example/BaseCommand/v-if_v-for_v-show.html',
								title:"v-if_v-for_v-show 实例"
							},
							{
								url:'example/BaseCommand/v-text_v-html.html',
								title:"v-text_v-html 实例"
							},
							{
								url:'example/BaseCommand/v-on.html',
								title:"v-on 实例"
							},
							{
								url:'example/BaseCommand/v-model.html',
								title:"v-model 实例"
							},
							{
								url:'example/BaseCommand/v-bind.html',
								title:"v-bind 实例"
							},
							{
								url:'example/BaseCommand/v-pre_v-cloak_v-once.html',
								title:"v-pre_v-cloak_v-once 实例"
							},
						],
						APIUrlList:[
							{
								url:'example/GlobalAPI/Vue.directive.html',
								title:"Vue.directive 自定义指令"
							},
							{
								url:'example/GlobalAPI/Vue.extend.html',
								title:"Vue.extend 扩展实例构造器"
							},
							{
								url:'example/GlobalAPI/Vue.set.html',
								title:"Vue.set全局操作"
							},
							{
								url:'example/GlobalAPI/lifecycle.html',
								title:"Vue的生命周期"
							},
							{
								url:'example/GlobalAPI/template.html',
								title:"template 三种写法"
							},
							{
								url:'example/GlobalAPI/component-1.html',
								title:"component-1"
							},
							{
								url:'example/GlobalAPI/component-2.html',
								title:"component-2"
							},
							{
								url:'example/GlobalAPI/component-3.html',
								title:"component-3"
							},
							{
								url:'example/GlobalAPI/component-4.html',
								title:"component-4"
							},
						],
						PropsUrlList:[
							{
								url:'example/Props/propsData_option.html',
								title:"propsData option"
							},
							{
								url:'example/Props/computed_option.html',
								title:"computed option"
							},
							{
								url:'example/Props/methods_option.html',
								title:"methods option"
							},
							{
								url:'example/Props/watch.html',
								title:"watch option"
							},
							{
								url:'example/Props/mixins.html',
								title:"mixins option"
							},
							{
								url:'example/Props/extends.html',
								title:"extends option"
							},
						],
						InstanceUrlList:[
							{
								url:'example/Instance/link_jquery.html',
								title:"link jquery"
							},
							{
								url:'example/Instance/$mount.html',
								title:"$mount"
							},
							{
								url:'example/Instance/example03.html',
								title:"example03"
							},
							{
								url:'example/Instance/slot.html',
								title:"slot content extend demo"
							}
						]
				},
				computed:{
				}
			});
		</script>
	</body>
</html>
